**/node_modules
**/.next
**/dist
**/.turbo
**/.pnpm-store
.git
.github
.claude
.vscode
.idea
*.log
**/.env
**/.env.local
**/.env.*.local
!**/.env.example
!**/.env.production.example
coverage
**/coverage
.DS_Store
docs
